<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/todo.css">
    <script src="ejs.min.js"></script>
    </script>
    <title>
        News
    </title>
</head>

<body>
    <header>

        <img src="images/logo.png" alt="logo" class="logo">
        <nav class="nav_color">
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li>
                    <a href="<% if(currentUser){ %>/profile<% } else { %> /login <% } %>">
                        <%= currentUser ? 'Profile' : 'Login' %>
                    </a>
                </li>
                <li>
                    <a href="<% if(currentUser){ %>/logout<% } else { %> / <% } %>" id="check">
                        <%= currentUser ? 'Log Out' : '' %>
                    </a>
                </li>
            </ul>
        </nav>
        <a href="<% if(currentUser){ %>/news<% } else { %> / <% } %>" class="cta"><button class="buttonmenu" onclick="check_login()">News</button></a>
        <a href="<% if(currentUser){ %>/todo<% } else { %> / <% } %>" class="cta"><button class="buttonmenu" onclick="check_login()">To do</button></a>
    </header>
    <div class="container">
        <% article.forEach(function(t){ %>
            <p>Title:
                <%= t.title %>
            </p>
            <p>Content:
                <%= t.content  %>
            </p>
            <a href="<%= t.link %>">Link bai viet</a>
            <hr />
            <% }); %>
    </div>

    <script>
        function check_login() {
            var a = document.getElementsByTagName('LI');
            if (a[1].innerText !== "Profile") {
                alert('Bạn chưa Đăng nhập');
            }
        }
    </script>
    <%- include('footer'); -%>